.realtors {
  background-color: $color-secondary;
  padding: 3rem;
  grid-column: col-start 7 / full-end;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  row-gap: 2rem;
}
