.realtors {
  background-color: $color-secondary;
  padding: 3rem;
  grid-column: col-start 7 / full-end;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  row-gap: 2rem;

  @media only screen and (max-width: $bp-800) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
}
