.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    display: block;
    padding: 1.5rem;
    font-family: $font-display;
    font-size: 1.4rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba($color-white, 0.05);
    transform: translateY(-0.3rem);
  }
}

.copyright {
  margin-top: 6rem;
  font-size: 1.2rem;
  color: $color-grey-light-2;
  text-align: center;
}
